body {
  background-color: rgb(130, 201, 255);
  color: #7071e1;
  font-size: 24.5px;
  margin: 100px;
}

body.dark{
  background-color: rgb(96, 182, 249);
}

body.dark2{
  background-color: rgb(65, 145, 207);
  color: rgb(113, 102, 149);
}

body.dark3{
  background-color: rgb(56, 127, 182);
  color: rgb(91, 81, 121);
}

body.dark4{
  background-color: rgb(49, 113, 163);
  color: rgb(70, 63, 95);
}

body.dark5{
  background-color: rgb(40, 92, 132);
  color: rgb(54, 48, 74);
}

body.dark6{
  background-color: rgb(28, 65, 93);
  color: rgb(31, 28, 43);
}

body.dark7{
  background-color: rgb(19, 45, 65);
  color: rgb(17, 15, 24);
}

body.dark8{
  background-color: rgb(15, 39, 57);
  color: rgb(18, 13, 40);
}

body.dark9{
  background-color: black;
  color: white;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  font-family: 'Marck Script', cursive;
font-weight: 400;
  font-size: 45px;
}

h3.fairytale{
    font-weight: 400;
    font-size: 50px;
    font-family: 'Marck Script', cursive;
    text-align: center;
  }
}
