body {
  background-color: rgb(162, 250, 255);
  color: blue;
  font-family: 'garamond';
  font-size: 24.5px;
  margin: 100px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

#images{
  margin: 0;
  text-align: center;
}

#images img{
  max-width: 400px;
  margin: 25px 0;
}
