body{
  margin: 0px;
}

.container, .header, .column, .footer, .margin{
  background-color: red;
  float: left;
}

.container{
    width: 900px;
}

.header{
    width: 900px;
    height: 100px;
}

.subhead{
  width: 900px;
  height: 50px;
  margin: -25px 0;
}

.column{
  width: 283.33px;
  height: 600px;
}

.footer{
  width: 900px;
  height: 75px;
  margin: -25px 0 0 0;
}

.margin{
  margin: 0 25px;
}
