.container{
  width: 120%;
  margin: -50px, -10px;
}

body{
  margin: 0px;
}

.block-1, .block-2, .block-3{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: 10;
  border-radius: 2%;
  border: 10px solid black;
}

.block-1{
  background-color: blue;
  border-color: blue;
  margin: 20px;

}

.block-2{
  background-color: green;
  border-color: green;
  margin: 20px;
}
.block-3{
  background-color: grey;
  border-color: grey;
  margin: 20px;
}
