.container{
  width: 120%;
  margin: -50px, -10px;
}

body{
  margin: 45px;
}

.block-4, .block-5, .block-6{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .9;
  border-radius: 450%;
  border: 10px solid black;
}

.block-4{
  width: 45px;
  height: 45px;
  border-color: cyan;
  margin: 10px;
}

.block-5{
  width: 55px;
  height: 55px;
  border-color: pink;
  margin: 10px;
}

.block-6{
  border-color: magenta;
  margin: 10px;
}
