body {
  background-color: rgb(127, 0, 11);
  color: black;
  font-family: 'garamond';
  font-size: 24.5px;
  margin: 100px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

h5{
  margin: 0;
}

#images img{
  max-width: 200px;
  margin: 25px 0;
}
