body {
  background-color: teal;
  color: orange;
  font-family: 'garamond';
  font-size: 24.5px;
  margin: 100px;
}
#images{
  background-color: teal;
  margin: 0;
  text-align: center;
}

#images img{
  max-width: 200px;
  margin: 25px 0;
}
