.container{
  width: 120%;
  margin: -50px, -10px;
}

body{
  margin: 0px;
}

.block-1, .block-2, .block-3, .block-4, .block-5{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .6;
  border-radius: 30%;
  border: 10px solid black;
}

.block-1{
  border-color: orange;
  background-color: orange;
  margin: 0px;
}

.block-2{
  border-color: black;
  background-color: white;
  margin: 0px;
}

.block-3{
  border-color: gray;
  background-color: gray;
  margin: 0px;
}

.block-4{
  border-radius: 50%;
  border-color: black;
  background-color: black;
  margin: 0px;
  opacity: .9;
}

.block-5{
  border-radius: 30%;
  border-color: black;
  background-color: black;
  margin: 0px;
  opacity: .9;
}
