body {
  background-color: rgb(222, 222, 222);
  color: black;
  font-family: 'garamond';
  font-size: 24.5px;
  margin: 100px;
}


#images{
  margin: 0;
  text-align: center;
}

#images img{
  max-width: 400px;
  margin: 25px 0;
}

}
