body {
  background-color: seagreen;
  color: white;
  font-family: 'minion pro';
  font-weight: bold;
  font-size: 45px;
  margin: 100px;
}

#img{
  margin: 0;
  text-align: center;
}

#img img{
  max-width: 500px;
  margin: 25px 0;
}
